{% load static %}
{% load i18n %}

<div id="footer" class="w3-row">
    <hr>
    <div class="w3-quarter dissapear">&nbsp;</div>
    <div class="w3-half">
        <div class="w3-row block-section" style="text-align: center;">
            <img src="{% static 'images/logo.svg' %}" alt="{% translate "Logo of the Wiki Movimento Brasil" %}" style="height:3em; text-align: center">
        </div>
        <div class="w3-row userform" style="text-align: center;">{% blocktrans %}This application was developed by the <i>User Group Wiki Movimento Brasil</i>.{% endblocktrans %}</div>
    </div>
</div>