{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="w3-row">
        <div class="w3-quarter index index-box">
            <ul>
                {% for area in areas %}
                    <li>
                        <a href="#{{ area.text|slugify }}" aria-label="{{ area.text }}">{{ area.text }}</a>
                        <ul>
                            <li>
                                <a href="#related-strategic-axes_{{ area.text|slugify }}"
                                   aria-label="{{ area.text }}">{% translate "Related strategic axes" %}</a>
                            </li>
                            <li>
                                <a href="#objectives_{{ area.text|slugify }}"
                                   aria-label="{{ area.text }}">{% translate "Objectives" %}</a>
                            </li>
                            <li>
                                <a href="#activities_{{ area.text|slugify }}"
                                   aria-label="{{ area.text }}">{% translate "Activities" %}</a>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="w3-threequarter">
            <h2 id="activities-plan">{% translate "Activities Plan" %}:</h2>
            {% for area in areas %}
                <h3 id="{{ area.text|slugify }}">{{ area.text }}</h3>
                <h4 id="related-strategic-axes_{{ area.text|slugify }}">{% translate "Related strategic axes" %}</h4>
                <ul>
                    {% for axis in area.related_axis.all %}
                        <li>
                            {{ axis }}
                        </li>
                    {% endfor %}
                </ul>
                <h4 id="objectives_{{ area.text|slugify }}">{% translate "Objectives" %}</h4>
                <ul>
                    {% for objective in area.objectives.all %}
                        <li>
                            {{ objective }}
                        </li>
                    {% endfor %}
                </ul>
                <h4 id="activities_{{ area.text|slugify }}">{% translate "Activities" %}</h4>
                {% for activity in area.activities.all %}
                    <h5 id="{{ activity.code|slugify }}">{{ activity.text }} ({{ activity.code }})</h5>
                    <ul>
                        {% for metric in activity.metrics.all %}
                            <li>{{ metric.text }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}