{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="w3-container">
        <div class="w3-row main_content">
            <div class="w3-quarter index index-box">
                <ul>
                    {% for axis in axes %}
                        <li>
                            <a href="#{{ axis.text|slugify }}" aria-label="{{ axis.text }}">{{ axis.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="w3-threequarter">
                <h2>{% translate "Strategic Axes:" %}</h2>
                {% for axis in axes %}
                    <h3 id="{{ axis.text|slugify }}">{{ axis.text }}</h3>
                    <ul>
                        {% for direction in axis.directions.all %}
                            <li>{{ direction.text }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}