{% load i18n %}

{% trans "Wikipedia" %}
{% trans "Wikimedia Commons" %}
{% trans "Wikidata" %}
{% trans "Wikiversity" %}
{% trans "Wikibooks" %}
{% trans "Wikisource" %}
{% trans "Wikinews" %}
{% trans "Wikiquote" %}
{% trans "Wiktionary" %}
{% trans "Wikivoyage" %}
{% trans "Wikispecies" %}
{% trans "MetaWiki" %}
{% trans "MediaWiki" %}
{% trans "Number of resources" %}
{% trans "Number of feedbacks" %}
{% trans "Number of events" %}
{% trans "Number of editors" %}
{% trans "Number of editors retained" %}
{% trans "Number of new editors" %}
{% trans "Number of partnerships" %}
{% trans "Number of organizers" %}
{% trans "Other metric" %}
{% trans "Occurence" %}
